## Step 1 - Splitting data into training and validation datasets

#### In this step, you import the universe dataset which is a csv file now,  using a python library called pandas. One can press Shift key and enter to run.  Note that here in most of the statements where there is an output a print command is not needed only for notebook.  <To insert a row use a or b and also type m for markdown/comments. >  delete a line dd

In [1]:
import pandas as pd
#pandas is used to import/export/manipulate data
from sklearn.model_selection import train_test_split
#sklearn(Sci-Kit Learn) has a function called train_test_split. It is used to split original data set
#to training/validation dataset.
#sklearn also has many machine learning algorithms such as Support Vector Machine, Random Forrest as well as 
#Logistic Regression
#sys is a python library you use when you need to import helper functions that are saved in different
import sys
#sys is used to import codes saved in aother folder
StandardRecodes = r'U:\Research\TensorFlow\Standard Recodes'
sys.path.insert(0, StandardRecodes)
import SAS_Macros

In [2]:
#We import the following- CSV file data, Featurization , and Standard recodes.

In [3]:
#Here we are creating a training and validation datasets
#path to the folder where original data set is saved
PIC= r'U:\Research\TensorFlow\Data\CSV'
#path to the folder where txt file that contains all the variables name is saved
feature = r'U:\Research\TensorFlow\Standard Recodes\Feature Selection'
#path to the folder where txt file that contains all the variables name is saved
output = r'U:\Research\TensorFlow\Output'

In [4]:
#Importing the original dataset. 
#usecols is used to not import unneccesary data elements
#df stands for DataFrame, which is a data type of python, specifically pandas nothing but contains rows and columns
#It is basically a way to store tabular data where you can label the rows and the columns. 
df_Universe = pd.read_csv(PIC + r'\PIC_Universe.csv', low_memory=False)

In [5]:
df_Universe.head()

,MRI_ID,resp,hhld_member_count,location_type,downgrade_reason_code,move_out_ind,health_contrib_ind,political_contrib_ind,religious_contrib_ind,donor_ever,...,lot_size_acres_bin,Sale_Price_Filled,sale_prc_div_1000_Bin,Interest_Rate_filled,interest_Rate_Bin,loan_amount_filled,loan_amount_zero,loan_amount_bin,Market_Value_Filled,Market_Value_Bin
0,6900100102,0,5,S,NaN,0,0,0,0,0,...,1.0,169.00000,7.0,5.63,4.0,161.0,0,7.0,127.000000,6.0
1,6900100103,0,5,S,NaN,0,0,0,0,0,...,0.0,189.87186,0.0,6.38,8.0,0.0,1,0.0,183.583266,NaN
2,6900100104,0,2,S,NaN,0,0,0,0,0,...,0.0,189.87186,0.0,6.09,6.0,0.0,1,0.0,183.583266,NaN
3,6900100105,0,1,S,NaN,0,0,0,0,0,...,1.0,88.00000,4.0,3.71,1.0,83.0,0,3.0,113.000000,5.0
4,6900100108,0,7,S,NaN,0,0,0,0,0,...,2.0,75.00000,3.0,5.77,5.0,105.0,0,5.0,127.000000,6.0

In [6]:
# this is just to makes sure that there are no duplicate fields. we are reading the last 2 bytes of col name. 
for var in sorted(list(df_Universe.columns)):
    if var[-2:] == '.1':
        print (var)

In [7]:
def Division(x):
    if x in ['ME','NH','VT','MA','RI','CT']:
        return 'New England'
    elif x in ['NY','NJ','PA']:
        return 'Mid ATL'
    elif x in ['OH','IN','IL','MI','WI']:
        return 'E N Central'
    elif x in ['MN','IA','MO','ND','SD','NE','KS']:
        return 'W N Central'
    elif x in ['DE','MD','DC','VA','WV','NC','SC','GA','FL']:
        return 'S ATL'
    elif x in ['KY','TN','AL','MS']:
        return 'E S Central'
    elif x in ['AR','LA','OK','TX']:
        return 'W S Central'
    elif x in ['MT','ID','WY','CO','NM','AZ','UT','NV']:
        return 'Mountain'
    elif x in ['WA','OR','CA','AK','HI']:
        return 'Pacific'

In [8]:
#Applying the function created above on 'state_abbr' to create a new field 'Division'
#lambda functions are small functions usually not more than a line. It can have any number of arguments
#just like a normal function. 
df_Universe['Division'] = df_Universe.state_abbr.apply(lambda x: Division(x))

In [9]:
#Importing a text file
#In PIC model, we do not use race, gender, and ethnicity. We also do not use fields that were built after PIC.
with open(feature + r'\Vars_to_Remove.txt', 'r') as f:
    Vars_to_Remove = f.read().split('\n')

In [10]:
for col in Vars_to_Remove:
    try:
        #If you want to delete an entire column run the following
        #Syntax: pd.DataFrame.drop([column name], axis = 1(meaning column), 
        #                          inplace = True(or it won't actuallt drop the column))
        df_Universe.drop([col], axis = 1, inplace = True)
        print (col)
    except:
        pass
#try - except
#In the above case, if the column you tried to remove did not exist in the DataFrame, it would raise an error.
#In case of error, command in the except is executed instead.

In [11]:
#Splitting original dataset into training/validation datasets
#train_test_split is a function in sklearn which splits a DataFrame into train and test datasets. random state=42 
#it is a seed
# x - Estimators
# y - target
#Y_model and Y_valid is more a dummy dataset created in order for the split to work. Note that it only has 1 variable 
#which is the response. The x_MODEL AND X_VALID still contains the target variable resp in it. 
X_model, X_validation, y_model, y_validation = train_test_split(df_Universe, 
                                                                df_Universe['resp'], 
                                                                test_size = 0.5,
                                                                random_state = 42)

In [12]:
X_model.resp.value_counts()

0    18901
1      648
Name: resp, dtype: int64

In [13]:
X_validation.resp.value_counts()

0    18919
1      631
Name: resp, dtype: int64

In [14]:
X_model.head()# note it contains resp

,MRI_ID,resp,hhld_member_count,location_type,downgrade_reason_code,move_out_ind,health_contrib_ind,political_contrib_ind,religious_contrib_ind,donor_ever,...,Sale_Price_Filled,sale_prc_div_1000_Bin,Interest_Rate_filled,interest_Rate_Bin,loan_amount_filled,loan_amount_zero,loan_amount_bin,Market_Value_Filled,Market_Value_Bin,Division
22241,7100452503,0,5,S,NaN,0,0,0,0,1,...,77.00000,3.0,5.72,5.0,67.0,0,3.0,183.583266,NaN,Mid ATL
34050,7201022209,0,1,S,NaN,0,0,0,0,0,...,189.87186,0.0,5.00,3.0,0.0,1,0.0,183.583266,NaN,W S Central
33597,7200913601,0,2,S,NaN,0,0,0,0,0,...,189.87186,0.0,5.00,3.0,0.0,1,0.0,183.583266,NaN,S ATL
25217,7111615304,0,2,S,NaN,0,0,0,0,0,...,189.87186,0.0,5.58,4.0,0.0,1,0.0,183.583266,NaN,S ATL
25786,7112802712,0,3,S,NaN,0,0,0,0,1,...,69.00000,3.0,6.32,8.0,122.0,0,5.0,130.000000,6.0,E N Central

In [15]:
for var in sorted(list(X_model.columns)):
    if var[-2:] == '.1':
        print (var)

In [16]:
model_dataset = PIC + r'\df_Model.csv'
X_model.to_csv(model_dataset)

In [17]:
X_validation.to_csv(PIC + r'\df_validation.csv')

Other extensions

In [18]:
other_data_types = r'U:\Research\TensorFlow\Data\others'

In [19]:
#pip install pyarrow
X_model.to_parquet(other_data_types + r'\df_model.parquet', engine = 'pyarrow')

## Extra

In [ ]:
#If you want to do SAS equivalent of proc univariate, use .describe() only for numeric vars. 
df_Universe[['resp', 'find_div_1000','LHI_Auto', 'HOH_Catholic']].describe()

In [ ]:
#if you want proc univariate on all and then export it as a csv.
df_Universe.describe().to_csv(output + r'\universe_univariate.csv')
#output = r'U:\Research\TensorFlow\Output'
#output + r'\universe_univariate.csv' = r'U:\Research\TensorFlow\Output\universe_univariate.csv'
#and thats where the csv file is saved

In [ ]:
#You can also do the same for one variable
df_Universe.find_div_1000.describe()

In [ ]:
#If you only want to know mean,
df_Universe.find_div_1000.mean()

In [ ]:
#Crosstab using pandas(pd)
pd.crosstab(df_Universe.resp, df_Universe.FINDGE90)

In [ ]:
#SAS_Macros is a library created which has functions such as crosstab.
#Syntax : SAS_Macros.crosstab(DataFrame, first variable name, second variable name)
SAS_Macros.crosstab(df_Universe, 'resp', 'FINDGE90')

In [ ]:
#If you want to know data type of a variable, use type()
type(df_Universe)
#Data type for df_Universe is pandas.core.frame.DataFrame

In [ ]:
#What is series? It is another data type of pandas for one var. 
type(df_Universe.resp)

In [ ]:
#To run a few variables counts - non missing counts and datatypes 
df_Universe[['resp','find_div_1000','LHI_Auto']].info()

In [ ]:
#You can view all the variables by using a for loop and here the vars are sorted. 
for var in sorted(list(df_Universe.columns)):
    print (var)

In [ ]:
#You can view all the variables by using a for loop, here the vars are not sorted and also the sequence of vars are listed
i = 0
for var in (list(df_Universe.columns)):
    print (i, var)
    i += 1

In [ ]:
#create a for Loop to run multiple variable freq. 
for var in ['resp', 'HOH_Catholic', 'LHI_Auto']:
    print (var)
    print (df_Universe[var].value_counts())
    print ('\n')

In [ ]:
#You can sort by .sort_value(by = 'variabl name')
df_Universe.sort_values(by = 'Age0_11TotalHH').head()

In [ ]:
# However, the code above did not actually sort the dataset. Here again printing a few records. 
df_Universe.head()

In [ ]:
#In order to actually sort the original dataset, you need to pass inplace = True which then sorts the original
#dataset which sorts the df_universe
df_Universe.sort_values(by = 'Age0_11TotalHH', inplace = True)

In [ ]:
#Now it is actually sorted
df_Universe.head()

In [ ]:
1 + 'a'

In [ ]:
#When there is something wrong with yoour code, you will see an Error message like above. 
#If you didn't see an error message, that means your code ran without a problem.

In [ ]:
# Sharp(#) is used to comment out in python

In [ ]:
df_Universe.loc[:,'AvgAge']# here we list all the rows in AvgAge.

In [ ]:
df_Universe.iloc[0,:] #Iloc is index based vars, here we have row #1 and all col's

In [ ]:
#Standard Deletes
#If yu want to remove records with missing LHI_Auto
df_Universe = df_Universe[df_Universe.LHI_Auto == df_Universe.LHI_Auto]
#The logic behind is creating a subset of df_Universe whose LHI_Auto is not missing, and assign the same name

In [ ]:
df_Universe.LHI_Auto.unique()
#No missing now

In [ ]:
df_Universe.donor_ever.value_counts()

In [ ]:
#You could have multiple condisions too
df_Universe = df_Universe[(df_Universe.health_contrib_ind == 0) & 
                          (df_Universe.donor_ever == 0)]

In [ ]:
#Or is |
df_Universe = df_Universe[(df_Universe.mob_ever != 0) | 
                          (df_Universe.mail_resp_ever_ind == 0)]